<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="theme-color" content="#f8f8f8">
  <meta name="author" content="fazle-rabbi">
  <title>{% block title %}{% endblock %}</title>
  <meta name="keywords" content="">
  <meta name="description" content="">  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}">
</head>
<body>
  
  {% include "./shared/navbar.html" %}
  
  {% block body %}{% endblock %}
  
  {% include "./shared/footer.html" %}
  
  <script src="{{ url_for('static', filename='js/globals.js') }}"></script>
</body>
</html>  