{% extends './shared/layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<main class="max-container padding-container text-center">
  <h2 class="text-4xl md:text-6xl font-extrabold mb-4 text-black/80">
    Flask Web App!
  </h2>
  <img class="w-full" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/pocoo_flask_logo_icon_168045.png" alt="" />
  <p class="tracking-normal leading-8 text-gray-600 font-light md:leading-10 md:text-2xl">
    Elit et nisi consequat esse voluptate officia deserunt fugiat Lorem fugiat do labore in sunt occaecat labore aliqua amet magna minim ullamco pariatur minim enim cupidatat occaecat labore pariatur anim dolore non proident culpa et id proident deserunt qui non laborum cupidatat culpa Lorem enim laboris ullamco in eiusmod nulla veniam et et dolore incididunt labore esse occaecat aute sint aliqua aliqua exercitation officia enim consequat voluptate qui aliquip laboris consequat duis incididunt culpa anim amet adipisicing in consequat cillum
  </p>
</main>

{% endblock %}